{{>navbar}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>{{success}}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="d-flex flex-wrap justify-content-center gap-4 mt-4">
    {{#each products}}
    <div class="card" style="width: 18rem;">
        <img src="{{this.img}}" class="card-img-top" style="height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <h5 class="card-title">{{this.price}}</h5>
            <p class="card-text">{{this.desc}}</p>
            <a href="/product/{{this._id}}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {{/each}}
</div>